<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        body{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #27187E;
        }
        .input-prime{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-color: #758BFD;
            height: calc(100% - 50vh);
            padding: 10vw;
            border-radius: 0px 15px;
            box-shadow: 5px 5px 10px #AEB8FE;
            overflow: hidden;
        }
        .input-prime .form-label{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .input-primy{
            width: 50vw;
        }
        .projetos-prime{
            display: flex;
        }
        .projetos-prime .projetos{
            margin: 20px;
            padding: 10px;
            background-color: #ebedff;
            margin: 10px;
            border-radius: 10px;
            font-size: 5vh;
        }
    </style>
</head>
<body>
    <div class="input-prime">
        <form action="/upload-img" method="post" enctype="multipart/form-data" class="form-label">
            <input class="form-control form-control-lg input-primy" id="formFileLg" type="file" name="file">
            <input type="submit" value="upload" class="btn btn-primary btn-lg mt-2">
        </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>